<div class="row"></div>
    <div class="col-sm-4 col-sm-offset-4">
        {{#each data}}
        <form action="/api/quiz/{{quizId}}/question" method="post" class="question" id="{{@index}}">
            <legend>Question</legend>
            <div>
                <img src={{this.image}} alt="..." class="img-thumbnail">
            </div>

            <label for="question-correct">{{{this.correct}}}</label>

            <div class="form-group">
                <label for="question-choices">Incorrect</label>
                <input id="{{@index}}-1" type="text" name="choices" class="form-control" placeholder="Not the correct answer.">
            </div>

            <div class="form-group">
                <label for="question-choices">Wrong</label>
                <input id="{{@index}}-2" type="text" name="choices" class="form-control" placeholder="Not the correct answer.">
            </div>

            <div class="form-group">
                <label for="question-choices">Not It</label>
                <input id="{{@index}}-3" type="text" name="choices" class="form-control" placeholder="Not the correct answer.">
            </div>  
        </form>
        {{/each}}
        <div class='form-group'>
                <button type="submit" class="btn btn-danger">Create Quiz</button>
            </div>
    </div>
   
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        console.log($('.question').length)
        let wrong = [];
        for( i = 0; i < $('.question').length - 1; i++){
            document.getElementById(i).addEventListener('submit', (e) => {
                e.preventDefault()
            });
        };
    });
</script>