<div class="row"></div>
    <div class="col-sm-4 col-sm-offset-4">
        {{#each data.records}}
            <form action="/api/quiz/{{quizId}}/question" method="post" class="question" id="{{@index}}">
                {{#if this.primaryimageurl}}
                {{#if this.people}}
                    <legend>Question</legend>
                    <div class="form-group">
                        <label for="question-ask">Question</label>
                        <input type="text" name="question-ask" class="form-control" id="question-ask" placeholder="Name the Artist.">
                    </div>

                    <div class="form-group">
                        <img src={{this.primaryimageurl}} alt="..." class="img-thumbnail">
                        <input type="hidden" name="imgurl" class="form-control" id="question-img" value={{this.primaryimageurl}}>
                    </div>

                    <div class="form-group">
                        <label for="question-correct">Correct</label>
                        <input type="text" name="correct" class="form-control" id="question-correct" placeholder={{this.people.0.name}}>
                    </div>

                    <div class="form-group">
                        <label for="question-incorrect">Incorrect</label>
                        <input type="text" name="incorrect" class="form-control" placeholder="Not the correct answer.">
                    </div>

                    <div class="form-group">
                        <label for="question-incorrect">Incorrect</label>
                        <input type="text" name="incorrect" class="form-control" placeholder="Not the correct answer.">
                    </div>

                    <div class="form-group">
                        <label for="question-incorrect">Incorrect</label>
                        <input type="text" name="incorrect" class="form-control" placeholder="Not the correct answer.">
                    </div>
                    <div id="append-button">
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                {{/if}}
                {{/if}}
            </form>
        {{/each}}
        <div class='text-incorrect'>
            <button type="button" class="btn btn-danger">Create Post</button>
        </div>
    </div>
   
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        let questions = [];
        $("#append-button").click(() => {
            console.log('hello')
            questions.push($("#form-group"))
            console.log($("#form-group"))
            // console.log( $( this ).serializeArray() );
            console.log(questions)
        });
    });
</script>