<!-- Show one question -->
<!-- <h1>{{quiz}}</h1>
<h2>{{question.image}}</h2>
<p>
   {{nextQuestion._id}}
</p> -->


<div class="screen">
  <div class="hero-section">
    <div class="score-container">
      <h2 class="score">Score: <span id="total-score">0</span></h2>
    </div>
    <div class="hero-text-conatiner">
      <div id="additional-info" class="hero-text">
        <h2>Did you know?</h2>
        <p>Vincent Willem van Gogh
          30 March 1853 – 29 July 1890) was a Dutch
          Post-Impressionist painter who is among
          the most famous and influential figures
          in the history of Western art. In just
          over a decade he created about 2,100 artworks,
          including around 860 oil paintings, most of them
          in the last two years of his life.</p>
        <p>Learn more:<a href="https://en.wikipedia.org/wiki/Vincent_van_Gogh" target="_blank">here</a></p>

      </div>
    </div>
  </div>

  <div class="question-section">
    <div class="question-image">
      <img src={{question.image}} />
    </div>
    <div class="question-answers">
      <button id="correct" class="answer" onClick="showCorrectAnswer()">{{question.correct}}</button>
      <button class="answer" onClick="showAnswers()">Wrong 1</button>
      <button class="answer" onClick="showAnswers()">Wrong 2</button>
      <button class="answer" onClick="showAnswers()">Wrong 3</button>
    </div>
    <div class="question-next">
      <div id="question-next-id" class="question-next-text">
        <a href="/api/quiz/{{quiz._id}}/question/{{nextQuestion._id}}">Next Question</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="screen">
  <div class="hero-section">
    <div class="hero-image-container">
      <img src="art_avatar_1.png" />
    </div>
    <div class="hero-text-conatiner">
      <div class="hero-text">
        <h1>Welcome to Smart Art!</h1>
        <p>This is a game of memory and deduction, designed to help you become an art connoisseur!</p>
        <p>To begin...</p>
      </div>
    </div>
    <a href="/api/quiz/{{quiz._id}}/question/{{nextQuestion._id}}">Next Question</a>
  </div>
  <div class="question-section">
    <div class="question-image">
      <img src="starry.jpg" />
    </div>
    <div class="question-answers">
      <button class="button">Vincent Van Gogh</button>
      <button class="button">Pablo Picaso</button>
      <button class="button">Andy Warhol</button>
      <button class="button">Peter Max</button>
    </div>
  </div>
</div> -->
